%border {
    content: ' ';
    width: 200%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: -100%;
    bottom: -100%;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(.5);
    transform: scale(.5);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    pointer-events: none;
}
